{% include "dashboard/cabecalho.html" %}

<h1 class="mb-4">Input Select</h1>

<form action="/teste" method="post">
    <label for="nome" class="form-label">Curso ID- {{turma.2}}</label>

    <select name="curso_id" id="curso_id" class="form-select" required>
        {% for curso in listar_cursos %}
            <option value="{{curso.0}}"  {{"selected" if turma.2 == curso.0 else ""}}>{{curso.0}} - {{curso.1}}</option>
        {% endfor %}
    </select>
</form>

{% include "dashboard/rodape.html" %}